#   Gust package manifest
#
#   Build modes
#     singleton - only install spec with a single compiler
#     cdep      - install spec using all defined compilers
#     mdep      - install spec using all MPI libraries and either all compilers
#                 or a single specified compiler
#

singleton: access=core type=compiler
    gcc@12.5.0 <toolchain:gcc-125> <blas:openblas@0.3.30>
    aocc@5.0.0 <toolchain:aocc-500> <blas:amdblis@5.1> <lapack:amdlibflame@5.1>

# Building these build systems first will hopefully reduce concretization variance
singleton: access=core
    cmake
    meson

singleton: access=view
    automake
    autoconf
    autoconf-archive
    libtool
    openssl
    nghttp2
    curl
    unzip
    libszip
    bzip2
    xz
    perl
    libpng
    libjpeg-turbo
    libtiff
    libtirpc
    jasper
    ncurses
    readline
    sqlite
    texinfo
    bison
    ruby
    tcl
    flex@2.6.4
    squashfs
    squashfuse
    antlr
    zstd
    python
    py-pip
    py-setuptools
    py-pyyaml
    openjdk
    tmux
    gdb
    tree
    libtree
    slirp4netns
    git
    go <cache:deps> <access:core>                 # Used by git-lfs, so we must install first
    git-lfs
    nano
    imagemagick
    qt #<maxjobs:8>
    emacs
    #gnuplot    BROKEN
    xxdiff
    xnedit
    parallel
    vim
    ncftp
    googletest
    ripgrep
    jq
    pandoc
    rclone
    openjpeg
    json-c
    amdsmi@6.3.3
    rocminfo@6.3.3
    nvtop
    postgresql
    mysql@8.0.29
    patchelf

singleton: access=none
    lmod

singleton: access=core
    miniconda3
    apptainer@1.4.1
    pcre
    podman
    peak-memusage
    charliecloud
    ncl
    ncvis
    linaro-forge@25.0.2
    darshan-util@3.4.7
    texlive
    matlab@R2024b
    idl@9.1.0
    ecflow
    #grads                                      # gadap is broken
    rstudio@2024.12.0
    wgrib2
    grib-util
    #met@11.1.0
    #metplus@5.1.0
    eigen
    madis
    #libtorch
    #chapel                                     # Module generation issue due to being an external
    neovim
    lcov
    ncview@2.1.9
    nccmp@1.9.1.0
    cdo@2.5.2
    gmt@6.5.0
    nco@5.3.4
    cmor@3.8.0                                 # Doesn't build against numpy dependency. Why??
    heaptrack
    ucx

    # ROCm stuff
    rocm-core@6.3.3
    hsa-rocr-dev@6.3.3
    rccl@6.3.3
    rocblas@6.3.3
    rocrand@6.3.3
	rocprim@6.3.3
    rocthrust@6.3.3
    rocm-gdb@6.3.3
    rocm-openmp-extras@6.3.3
    rocprofiler-compute@6.3.3
    #rocprofiler-systems@6.3.3
    comgr@6.3.3
    hip@6.3.3
    hipfort@6.3.3
    hipblas@6.3.3
    hiprand@6.3.3
    hipcub@6.3.3
    roctracer-dev@6.3.3
    rocfft@6.3.3
    hipify-clang@6.3.3
    rocm-examples@6.3.3

singleton: compiler=aocc@5.0.0
    amdblis@5.1
    amdlibflame@5.1

cdep: 
    ncarcompilers@1.1.0
    openblas@0.3.30 <compilers:gcc>
    fftw~mpi@3.3.10
    udunits@2.2.28
    hdf5~mpi@1.14.6
    hdf@4.2.15
    #h5z-zfp@1.1.1 %TC% ^hdf5 %CMP% ^zfp %CMP% <compilers:gcc>
    netcdf~mpi@4.9.3 %TC% ^hdf5 %CMP%
    proj@9.4.1
    geos@3.13.1
    # nvhpc skipped b/c of failed assertion; cce charconv header not found
    #gdal@3.11.3 %TC% ^hdf5 %CMP% ^netcdf-c %CMP% ^proj %CMP% ^geos %CMP% <exclude:nvhpc,cce>
    superlu@7.0.0 %TC% ^metis %CMP%
    eccodes@2.41.0 %TC% ^hdf5 %CMP%
    #ioapi@3.2 <compilers:gcc>
    mpi-serial@2.5.3
    parallelio@2.6.6~mpi %TC% ^mpi-serial %CMP% ^hdf5 %CMP%
    esmf~mpi@8.8.1 %TC% ^hdf5 %CMP% ^mpi-serial %CMP%
    esmf~mpi@8.9.0 %TC% ^hdf5 %CMP% ^mpi-serial %CMP%
    #libemos@4.5.1 <compilers:gcc>
    openmpi@5.0.8 <type:mpi>
    #kokkos@4.2.01
    spherepack@3.2
    #musica@0.10.1 <exclude:aocc>

mdep:
    parallel-netcdf@1.14.1
    hdf5+mpi@1.14.6
    netcdf+mpi@4.9.3 ^hdf5 %CMP%
    fftw+mpi@3.3.10
    parallelio1@1.10.1 %TC% ^hdf5 %CMP%
    darshan-runtime@3.4.7
    parallelio@2.6.6 %TC% ^hdf5 %CMP%
    esmf+mpi@8.8.1 %TC% ^hdf5 %CMP%
    esmf+mpi@8.9.0 %TC% ^hdf5 %CMP%
    parallelio~shared@2.6.6 ^hdf5 %CMP% %MPI% %c,cxx,fortran=%CMP%
    osu-micro-benchmarks
    gptl@8.1.1
    superlu-dist@9.1.0 %TC% ^metis %CMP% ^parmetis %CMP% 
    mpifileutils@0.12 <compilers:gcc,aocc>
    opencoarrays@2.10.2 <compilers:gcc>
