#   Casper package manifest
#
#   Rules
#     - Compilers must always be listed before other specs to be installed
#     - MPI libraries must be defined before being used
#     - Compiler and MPI libraries will be appended to END of spec
#       unless %CMP%/%MPI% placeholder is used
#
#   Build modes
#     singleton - only install spec with a single compiler
#     cdep      - install spec using all defined compilers
#     mdep      - install spec using all MPI libraries and either all compilers
#                 or a single specified compiler

singleton: type=compiler
    nvhpc@21.7

singleton: type=compiler build=false external=module
    cce@13.0.1
    gcc@10.3.0
    gcc@11.2.0

cdep: type=mpi exclude=intel
    cray-mpich@8.1.13

#cdep: type=mpi
#    openmpi@4.1.1+cuda

singleton:
    lmod
    cmake
    cuda@11.4.48

singleton: compiler=gcc@10.3.0
    r@4.1.1

cdep:
    ncarcompilers@0.5.2
    fftw@3.3.9
    udunits@2.2.28 %CMP% ^expat%gcc
    netcdf@4.8.1 %CMP% <nvhpc:^nettle cflags=-noswitcherror>

mdep:
    parallel-netcdf@1.12.2
    netcdf@4.8.1+mpi %CMP% %MPI% <nvhpc:^nettle cflags=-noswitcherror>
