#
#   constraints.cfg
#
#   This file is used to add (a) externals and (b) "constraints" (require/prefer) statements
#   for packages. While both of these actions can be accomplished via other means, there are
#   multiple reasons to have this script:
#
#       1.  Spack external detection is not implemented for many packages
#       2.  We use prefer/require statements to ensure that the majority of packages are
#           compiled using the core GCC, rather than recompiling them using matrixed
#           compilers, many of which have issues compiling a wide range of packages. With
#           this script it is easy to impose such requirements quickly.
#       3.  This script is used for all cluster types, and so it is easy to keep
#           specifications uniform across them.
#
#    Last Revised:   10:49, 12 Mar 2026
#

externals: {
    gcc
}

externals: buildable=no {
    lustre pkg-config openssl
}
