#
#   Package Manifest
#
#   Build Modes
#     singleton - only install spec with a single compiler
#     cdep      - install spec using all defined compilers
#     mdep      - install spec using all MPI libraries and either all compilers
#                 or a single specified compiler
#
#   Default Placeholders - appended to the end of the spec if not explicitly given
#     %CMP%     - gets replaced by %compiler (can also use %c,cxx,fortran=%CMP%)
#     %MPI%     - gets replaced by ^mpi %compiler
#     %TC%      - gets replaced by toolchain definition
#     %GC%      - gets replaced by generic compiler name (%gcc instead of %gcc@15.2.0)
#                 (probably not useful unless Spack refuses full compiler spec)
#
#   Sigils
#     #BREAK    - if put at the beginning of a line, will cause install_packages to
#                 stop processing the manifest there
#
#   Last Revised:   09:20, 20 Mar 2026
#

singleton: compiler=core
    gcc@12.5.0
    gcc@15.2.0

singleton:
    linaro-forge@25.1.2
    cuda@12.9.1
    cudnn@9.17.0.29-12

singleton: compiler=gcc@12.5.0
    nvhpc@26.1
    intel-oneapi-compilers@2025.3.2
    #aocc@5.1.0
    intel-oneapi-advisor@2025.4.1
    intel-oneapi-vtune@2025.8.1
